.footer {
    float: left;
    margin: auto;
    width: 50%;
	margin-top: 220px;
}

.footer ul {
	list-style-type: none;
	margin: 0, 5px;
	padding: 0;
	/**overflow: hidden;**/
}

.footer li {
	float: left;
}

.footer li a {
	display: block;
	color: #000000;
	padding: 14px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 70%;
	text-decoration: none;
	text-align: center;
	width: 90px;
}


/* to change hover color*/
.footer li a:hover {
	background-color: 	#FFC312;
}

.footer li a:active {
	opacity: 0.5;
}