@inherits LayoutComponentBase

<header>
    <nav>
        <div class="row-one">
            <div class="logo">
                <img src="Images/CryptoDevil.jpg" alt="CryptoDevil">

                <div class="social">
                    <a href="https://www.instagram.com/">
                        <img src="Images/instagram.png" alt="Cryptobot Instagram">
                    </a>
                    <a href="https://www.twitter.com/">
                        <img src="Images/twitter.png" alt="Cryptobot Twitter">
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>

@Body

<footer>
    <div class="column-two">
        <div class="footer">
            <ul>
                <li><a href="about.html">Ownership Info</a></li>
                <li><a href="contact.html">Contact Info</a></li>
            </ul>
        </div>
    </div>
</footer>