@import url('https://fonts.googleapis.com/css?family=Numans');


html, body {
    background-image: url('imgs/log_back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8c2222;
    height: 100%;
    font-family: 'Numans', sans-serif;
    text-shadow:
      -1px -1px #f4cccc,
      1px -1px 0 #f4cccc,
      -1px 1px 0 #f4cccc,
      1px 1px 0 #f4cccc,  
      -2px 0 0 #f4cccc,
      2px 0 0 #f4cccc,
      0 2px 0 #f4cccc,
      0 -2px 0 #f4cccc;
}

.user_information {
    line-height: 20px;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 450px;
    height: 200px;
    text-shadow:
    -1px -1px white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,  
    -2px 0 0 white,
    2px 0 0 white,
    0 2px 0 white,
    0 -2px 0 white;
}

.subscription_information {
    line-height: 20px;
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 450px;
    height: 200px;
    text-shadow:
    -1px -1px white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white,  
    -2px 0 0 white,
    2px 0 0 white,
    0 2px 0 white,
    0 -2px 0 white;
}


.column-one {
    position: relative;
    margin: auto;
    width: 50%;
    bottom: 5px;
    float: left;
}

.column-two {

    position: relative;
    margin: auto;
    width: 50%;
    bottom: 5px;
    float: left;
}

.row-one {

    position: relative;
    margin: auto;
    width: 50%;
    bottom: 5px;

}

.row-two {

    position: relative;
    margin: auto;
    width: 50%;
    bottom: 5px;

}

.style_h1 h1 {
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	color: hsl(0, 0%, 0%);
	font-size: 150%;
}

.a_style {
	color: hsl(0, 100%, 33%);
	font-family: Lucida Console, Courier New, monospace;
	font-size: 150%;
	border: 2px solid white;
	background-color: black;
	margin: 30px;
	padding: 20px;
}

.subscription h1 {
	position: relative;
	display: inline-block;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	color: hsl(0, 0%, 0%);
	font-size: 150%;
}

.account_photo img{
	float: left;
	margin-right: 15px;
	width: 350px;
	height: 200px;
}